$primary: #282c73;
$main-black: #262626;
$main-red: #91978d;
$main-white: #fcffe7;
$main-accent-black: #bad7e9;

@import "~bootstrap/scss/bootstrap.scss";

body {
  background-color: #450920;
}

.card-background {
  background-color: #b98eb1;
}

.film-details {
  border-color: white;
  border-radius: 10px;
  border-style: solid;
  border-width: 12px;
  background-color: $main-red;
  color: white;
  padding: 15px;
}

.card-img {
  border-radius: 0;
}

.card-title {
  color: white;
}

.card {
  border-color: white;
  border-radius: 5px;
  border-style: solid;
  border-width: 12px;
  color: $primary;
  margin-bottom: 10px;
}

.navbar {
  background-color: #282c73;
  margin-bottom: 20px;
  border-color: white;
  border-radius: 10px;
  border-style: solid;
}

.text {
  color: $primary;
}

.detail-poster {
  width: 100%;
  margin-bottom: 10px;
}

.form-label {
  color: white;
}

.modal-label {
  color: black;
}

.profile-text {
  color: $main-red;
}

a {
  text-decoration: none;
}

.favorite-button {
  margin: 20px;
}

.user-info {
  background-color: #b98eb1;
  margin-bottom: 10px;
  border-color: white;
  border-radius: 10px;
  border-style: solid;
}
