$primary: #eb455f;
$main-black: #262626;
$main-red: #eb455f;
$main-white: #fcffe7;
$main-accent-black: #bad7e9;

@import "~bootstrap/scss/bootstrap.scss";

body {
  background-color: $main-black;
}

.card-background {
  background-color: #fcffe7;
}

.text {
  color: white;
}

.detail-poster {
  width: 100%;
}

.form-label {
  color: white;
}

.modal-label {
  color: black;
}

.profile-text {
  color: $main-red;
}
